# Protect application and system files from direct access
<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>

# Enable symbolic links
Options +FollowSymLinks

# Enable URL rewriting
RewriteEngine On

# Redirect trailing slashes to non-trailing slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Handle Front Controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([\s\S]*)$ index.php/$1 [L,QSA]

# Handle static files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^([\s\S]*)$ $1 [L]